*{
	margin: 0px;
	padding:0px;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0px;
}
/**********header开始**********/
#header{
	height: 95px;
}
#header .wrapper{
	height: 95px;
	position: relative;
	background: url(../img/logo.jpg) no-repeat left center;
}
#search{
	width: 262px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -131px;
	top: 50%;
	margin-top: -15px;
}
.search-text{
	width: 212px;
	height: 30px;
	float: left;
	text-indent: 10px;
	border: 1px solid orange;
	outline: none;
}
.search-btn{
	width: 50px;
	height: 30px;
	float: right;
	background: red;
	color: white;
}
#icons{
	width: 140px;
	height: 32px;
	position: absolute;
    top: 50%
    margin-top: -16px;
    right: 0;
}
#icons .icon{
    width: 33px;
    height: 31px;
    display: inline-block;
    margin-right: 20px;
    float: left;
}
#icons .last{
	margin: 0px;
}
#icons .qq{
	background-image: url(../img/top_qq.jpg) no-repeat;
}
#icons .qq:hover{
	background-image: url(../img/top_qq_h.png) no-repeat;
}
#icons .weibo{
	background-image: url(../img/top_weib.jpg) no-repeat;
}
#icons .weibo:hover{
	background-image: url(../img/top_weib_h.png) no-repeat;
}
#icons .emil{
	background-image: url(../img/top_you.jpg) no-repeat;
}
#icons .emil:hover{
	background-image: url(../img/top_you_h.png) no-repeat;
}
/**********title开始***********/
#title{
	height: 50px;
	text-align: left;
	background: #EB3939;
    padding-left: 20px;
    margin: 0 auto;
}
.li1{
	float: left;
	width: 135px;
	height: 50px;
	position: relative;
	left: 19%;
}
.li1 a{
	display: block;
	width: 135px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}
.li1 a:hover{
	background: #A61C00;
}
/**********title结束***********/
/**********banner开始**********/
#banner{
	height: 390px;
	background: url(../img/1.png) no-repeat;
}
/**********banner结束**********/
/**********content开始*********/
#content{
	clear: both;
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}
#gs-news{
	float: left;
    width: 334px;
    margin-right: 40px;
}
#xw-title{
	border-bottom: 2px solid #EA3939;
    color: #EA3939;
    font-size: 15px;
    text-align: left;
    background: url(../img/xw_1.png) no-repeat 0 7px;;
}
#span1{
	display: inline-block; 
	width: 100px;
	height: 27px;
	float: left;
	position: relative;
	top: 20%;
}
#span2{
	float: right;
    width: 50px;
    font-size: 10px;
    padding-top: 5px;
}
#span2 a{
	color: black;
	font: 12px/1.8 Tahoma,Verdana,Arial,\5b8b\4f53;
}
#span2 a:hover{
	color: red;
}
#xw-ul{
	width: 334px;
	height: 145px;
}
.xw-li{
	clear: both;
    height: 20px;
    padding: 5px 0 3px 5px;
    text-align: left;
    border: 0px dotted #cccccc;
    border-width: 0 0 1px 0;
    overflow: hidden;
}
.title a{
	float: left;
	 color: black;
	 font-size: 12px;
    text-align: left;
    padding: 0 0 0 13px;
    background: url(../img/2.gif) no-repeat left center;
}
.title a:hover{
	color: red;
}
.data{
	float: right;
	font-size: 12px;
    color: #666666;
    padding-right: 2px;
}
#hy-news{
	float: left;
    width: 334px;
}
#hy-title{
	font-size: 15px;
    text-align: left;
	border-bottom: 2px solid black;
    color: black;    
    background: url(../img/xw_2.png) no-repeat 0 7px;;
}
#span3{
	display: inline-block; 
	width: 100px;
	height: 27px;
	float: left;
}
#span4{
	float: right;
    width: 50px;
    font-size: 10px;
    padding-top: 5px;
}
#span4 a{
	color: black;
	font: 12px/1.8 Tahoma,Verdana,Arial,\5b8b\4f53;
}
#span4 a:hover{
	color: red;
}
#title-pic{
	float: right;
	width: 340px;
	position: relative;
    right: 6%;
}
#title-pic-1{
	float: left;
    background: url(../img/3.jpg) no-repeat 2px 0;
    width: 100px;
    padding-top: 125px;
    text-align: center;
    margin-right: 20px;
}
/*#title-pic-1 a:hover{
	background: url(../img/sy_tz_1_h.jpg) no-repeat 2px 0;
}*/
.pic-div{
	float: left;
	width: 100px;
	height: 25px;
	margin: 0 auto;
}
.pic-div a{
	display: inline-block;
	height: 19px;
	color: #EA3939;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
}
.pic-div a:hover{
	color: #A61C00;
}
.pic-div1{
	float: left;
	width: 100px;
	height: 21px;
	color: #826682;
}
#title-pic-2{
	float: left;
    background: url(../img/4.jpg) no-repeat 2px 0;
    width: 100px;
    padding-top: 125px;
    text-align: center;
    margin-right: 20px;
    }
   /* #title-pic-2 a:hover{
	background: url(../img/sy_tz_2_h.jpg) no-repeat 2px 0;
}*/
    #title-pic-3{
	float: left;
    background: url(../img/5.jpg) no-repeat 2px 0;
    width: 100px;
    padding-top: 125px;
    text-align: center;
 }
/* #title-pic-3 a:hover{
	background: url(../img/sy_tz_3_h.jpg) no-repeat 2px 0;
}*/
/**********content结束*********/
/**********aboutus开始*********/
#aboutus{
	clear: both;
    height: 317px;
    overflow: hidden;
    margin: 10px 0 20px 0;
}
#us{
	float: left;
	width: 298px;
	text-align: left;
	margin-right: 10px;
	position: relative;
	left: 4%;
}
#us-pic{
	height: 135px;
	background: url(../img/6.jpg) no-repeat left;
	position: relative;
}
#div1{
	background: #EA3939;
    width: 39px;
	height: 75px;
	height: 66px;
	line-height: 35px;
	font-size: 15px;
	color: white;
	display: block;
    font-size: 18px;
    padding: 0 10px 10px 10px; 
	position: absolute;
	left: 20%;
}

#div2{
	width: 60px;
	height: 30px;
	background: black;
	color: white;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 20%;
	top: 78%;
}
#con{
	padding: 20px 10px 10px 10px;
	border: 1px #CCCCCC solid;
	width: 276px;
	height: 150px;
	font-size: 15px;
	color: black;
}
#tzyw{
	float: left;
	width: 236px;
	padding: 20px;
	height: 275px;
	background: url(../img/7.png) no-repeat 80px 150px #F1F1F1;
	text-align: left;
	position: relative;
	left: 4%;
}
#tz1{
	width: 236px;
	height: 27px;
	line-height: 27px;
	font-size: 15px;
    color: #EA3939;
}
#tz2{
	width: 236px;
	height: 90px;
	font-size: 13px;
	color: black;
	line-height: 30px;
}
#tz3{
	float: left;
	font-size: 12px;
	 color: #EA3939;
}
#others{
	width: 505px;
	height: 315px;
	float: left;
	position: relative;
}
#tel{
	height: 130px;
	background: url(../img/8.png) no-repeat 0 10px #F5F5F5;
	margin-bottom: 10px;
	text-align: left;
    padding: 20px 0px 20px 240px;
    position: absolute;
    bottom: 92%;
    left: 53%;
}
#tel-ul{
	width: 265px;
	height: 120px;
	float: right;
}
.tel-li{
	height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: black;
}
#job{
	width: 315px;
    height: 132px;
    background: url(../img/9.png) no-repeat #F5F5F5;
    text-align: left;
    padding: 20px 20px 0 170px;
    position: absolute;
    left: 53%;
    bottom: 45%;
}
#job-title{
	width: 315px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
    color: #EA3939;
}
#job-content{
	width: 315px;
	height: 60px;
	font-size: 13px;
	color: black;
	line-height: 20px;
}
#job-foot{
	float: left;
	color: red;
	font-size: 12px;
}
/**********aboutus结束*********/
/**********footer开始*********/
#footer{
	height: 180px;
	margin: 5px 0 5px 0;
	background: #666666;
	position: relative;
}
.dw{
	width: 40px;
	height: 150px;
	background: #EA3939;
    color: white;
    font-size: 22px;
    text-align: center;
	position: absolute;
	top: -10px;
	left: 21.5%;
}
#dbk{
	clear: both;
    overflow: hidden;
    position: relative;
}
.banquan{
	float: left;
    margin-left: 500px;
    color: white;
    font-size: 14px;
    margin-top: 40px;
    width: 500px;

}
.banquan p{
	width: 500px;
	height: 25px;
	color: white;
    font-size: 15px;
    line-height: 20px;
}
.ewm{
	float: left;
    margin: 30px 20px 0 70px;
}
.ewm1{
	float: left;
	width: 214px;
	height: 210px;
	color: white;
}
/**********footer结束*********/
.wrapper{
	width: 1180px;
	margin: 0 auto;
}