/**********css reset开始**********/
*{
	margin: 0;
	padding: 0;
}
ol,ul{
	list-style: none;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
/**********css reset结束**********/

.wrapper{
	width: 970px;
	margin: 0 auto;
}

/**********header开始**********/
#header{
	height: 36px;
	background: #f5f5f5;
}
#header-logo{
	margin-top: 5px;
	margin-left: 10px;
	cursor:pointer;
	float: left;
}
.header-list{
	float: left;
	margin-left: 20px;
}
.header-list li{
	float: left;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
}
.header-list li a{
	color: #666;
}
.header-list li span{
	font-size: 20px;
	margin-right: 6px;
	margin-left: 6px;
	color: #e6e6e6;
}
#header-img01{
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
#header-right{
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
#header-right li{
	float: left;
	color: #666;
}
#header-right li div{
	line-height: 36px;
}
#header-right li span{
	font-size: 20px;
	margin-right: 6px;
	margin-left: 6px;
	color: #e6e6e6;
	line-height: 36px;
}
#header-right li a{
	display: block;
	width: 47px;
	height: 20px;
	background: #e7e7e7;
	float: left;
	text-align: center;
	margin-top: 8px;
	line-height: 20px;
	border-radius: 8px;
	color: #666;
}
/**********header结束**********/

/**********banner开始**********/
#banner{
	height: 533px;
	background: url(../img/banner-bg.png) no-repeat center;
	background-size: 100% 100%;
}
#banner .wrapper{
	position: relative;
}
#banner-img01{
	position: absolute;
	top: 415px;
	left: -7px;
	z-index: 1;
	cursor: pointer;
}
#banner-img02{
	position: absolute;
	top: 535px;
	left: 154px;
	z-index: 2;
}
/**********banner结束**********/

/**********nav开始**********/
#nav{
	width: 100%;
	height: 45px;
	background: #953100;
	position: absolute;
	top: 523px;
}
#nav-main{
	float: right;
	position: relative;
}
#nav-main > ul li{
	width: 101px;
	height: 45px;
	float: left;
	text-align: center;
	line-height: 45px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
#nav-main > ul li:hover{
	color: black;
}
#menu{
	width: 644px;
	height: 168px;
	background: black;
	opacity: 0.8;
	left: 90px;
	top: -168px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 162px;
	/*top: -169px;*/
	top: 50px;
	border: 1px solid #942a00;
	/*display: none;*/
}
#menu ul{
	float: left;
	padding-top: 10px;
}
#menu ul li{
	width: 92px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
}
#menu ul li:hover{
	background: #952b01;
}
/**********nav结束**********/

/**********download开始**********/
#download{
	height: 370px;
	background: url(../img/download-bg.jpg);
}
#download-left{
	width: 300px;
	height: 265px;
	border: 1px solid #ec6333;
	margin-top: 75px;
	float: left;
}
#download-left div{
	width: 274px;
	height: 149px;
	margin-top: 40px;
	margin-left: 13px;
	cursor: pointer;
	background: url(../img/游戏下载.jpg);
}
#download-left div:hover{
	background: url(../img/download-h.png) no-repeat center;
}
#download-left a{
	display: block;
	width: 130px;
	height: 40px;
	background: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	float: left;
	margin-left: 13px;
	margin-top: 10px;
	color: #c85e1a;
	font-weight: bold;
}
#download-left a:hover{
	background: #ff7a24;
	color: #fff;
}
#download-right{
	width: 652px;
	float: right;
	height: 343px;
	overflow: hidden;
}
#download-right div{
	width: 652px;
	height: 265px;
	margin-top: 77px;
	position: relative;	
}
#download-imgs{
	position: absolute;
	top: -78px;
}
#download-imgs li{
	float: left;
	cursor: pointer;
}
#download-btn{
	position: absolute;
	top: 230px;
	left: 20px;
}
#download-btn li{
	float: left;
	width: 13px;
	height: 13px;
	border-radius: 10px;
	background: #fff;
	margin-right: 10px;
	cursor: pointer;
}
/**********download结束**********/

/**********news开始**********/
#news{
	height: 250px;
	background: url(../img/download-bg.jpg);
	padding-top: 20px;
}
#news-left{
	width: 525px;
	height: 220px;
	float: left;
	border: 1px solid #715d53;
	position: relative;
	background: url(../img/news-bg.jpg);
}
#news-right{
	width: 432px;
	height: 220px;
	float: right;
	border: 1px solid #715d53;
	position: relative;
	background: url(../img/news-bg.jpg);
}
#news-right p{
	float: left;
	color: #d9d9d9;
	font-size: 18px;
	font-weight: bold;
	line-height: 47px;
	cursor: pointer;
}
#news-right ul{
	margin-top: 15px;
	margin-left: 10px;
	float: left;
}
#news-right ul li{
	margin-bottom: 10px;
	cursor: pointer;
}
.news-menu{
	height: 47px;
	background: #4a240c;
	padding-left: 75px;
}
.news-menu img{
	height: 60px;
	position: absolute;
	top: -16px;
	left: -1px;
}

.news-menu ul li{
	float: left;
	width: 64px;
	height: 46px;
	text-align: center;
	cursor: pointer;
	line-height: 46px;
	font-size: 18px;
	color: #c85e1a;
	border-right: 1px solid #704d39;
}
.news-menu div{
	width: 64px;
	height: 28px;
	color: #d9d9d9;
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	float: right;
	background: #7e3b10;
	cursor: pointer;
	border: 1px solid #c75d17;
	margin-top: 8px;
	margin-right: 10px;
}
.news-main{
	margin-top: 15px;
	display: none;
}
.news-main li{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding-left: 10px;
	color: #d9d9d9;
}
.news-main li a{
	color: #d9d9d9;
}
.news-main li a:hover{
	text-decoration: underline;
	color: #f40;
}
.news-main li span{
	float: right;
	margin-right: 10px;
}
#sell{
	margin-top: 12px;
	margin-right: 10px;
}
/**********news结束**********/

/**********every-day开始**********/
#every-day{
	height: 150px;
	background: url(../img/download-bg.jpg);
}
#every-day .wrapper{
	height: 142px;
	border: 1px solid #715d53;
	position: relative;
}
#every-left{
	float: left;
	margin-top: 9px;
	margin-left: 10px;
	cursor: pointer;
}
#every-right{
	float: right;
	width: 700px;
	height: 124px;
	overflow: hidden;
	margin-top: 9px;
	margin-right: 27px;
	position: relative;
}
#every-day ul{
	height: 124px;
	position: absolute;
	left: 0;
	top: 0;
}
#every-day ul li{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#every-day ul li img{
	width: 224px;
	height: 124px;
	cursor: pointer;
}
#last,#next{
	position: absolute;
	top: 50%;
	margin-top: -14px;
	cursor: pointer;
}
#last{
	left: 220px;
}
#next{
	right: 0;
}
/**********every-day结束**********/

/**********hero开始**********/
#hero{
	height: 310px;
	background: url(../img/download-bg.jpg);
	overflow: hidden;
}
#hero .wrapper{
	position: relative;
	/*overflow: hidden;*/
	height: 310px;
}
#hero ul li{
	/*position: absolute;*/
	/*transition: left 1s ease-out;*/
}
#hero ul li div{
	float: left;
	margin-top: 30px;
}
#hero ul li div p{
	width: 48px;
	height: 30px;
	border: 1px solid #715d53;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #d9d9d9;
	cursor: pointer;
}
#hero ul li div a{
	display: block;
	width: 50px;
	height: 229px;
	margin-top: 4px;
	float: left;
}
#hero ul li img{
	transition: all 0.5s linear;
	height: 295px;
	float: left;
	cursor: pointer;
	margin-left: 2px;
	width: 0;
}
/**********hero结束**********/

/**********player开始**********/
#player{
	height: 250px;
	background: url(../img/download-bg.jpg);
}
#player-left{
	width: 453px;
	height: 193px;
	float: left;
	margin-top: 22px;
	border: 1px solid #715d53;
}
#player-nav{
	height: 45px;
	background: #4a240c;
	position: relative;
}
#player-nav img{
	position: absolute;
	top: -17px;
	left: -2px;
}
#player-nav ul{
	float: left;
	margin-left: 70px;
}
#player-nav li{
	float: left;
	font-size: 18px;
	width: 90px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-right: 1px solid #704d39;
	color: #c85e1a;
	cursor: pointer;
}
#player-main ul{
	margin-top: 12px;
	display: none;
}
#player-main ul li{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding-left: 10px;
}
#player-main ul li a{
	color: #d9d9d9;
}
#player-main ul li a:hover{
	text-decoration: underline;
	color: #f40;
}
#player-right{
	float: right;
	margin-top: 6px;
	cursor: pointer;
}
/**********player结束**********/

/**********video开始**********/
#video{
	height: 200px;
	background: url(../img/download-bg.jpg);
}
#video-left{
	width: 523px;
	height: 193px;
	border: 1px solid #715d53;
	float: left;
}
#video-left-nav{
	height: 45px;
	background: #4a240c;
	position: relative;
}
#house{
	position: absolute;
	top: -12px;
	left: -1px;
}
.more{
	float: right;
	margin-top: 4px;
	cursor: pointer;
	margin-right: 5px;
}
#video-left-nav ul{
	float: left;
	margin-left: 70px;
}
#video-left-nav li{
	float: left;
	font-size: 18px;
	width: 90px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-right: 1px solid #704d39;
	color: #c85e1a;
	cursor: pointer;
}
#video-left-main img{
	cursor: pointer;
	margin-top: 18px;
	margin-right: 30px;
}
#video-right{
	width: 432px;
	height: 193px;
	border: 1px solid #715d53;
	float: right;
}
#video-right-nav{
	height: 45px;
	background: #4a240c;
	position: relative;
}
#video-right-nav img{
	height: 53px;
	position: absolute;
	top: -9px;
	left: -1px;
}
#video-right-main{
	height: 150px;
	position: relative;
}
#video-right-main ul{
	position: absolute;
	left: 0;
	top: 0;
}
#video-right-main div{
	position: relative;
	width: 368px;
	height: 113px;
	margin: 0 auto;
	margin-top: 16px;
	overflow: hidden;
}
#video-right-main div img{
	cursor: pointer;
}
#video-right-main div ul li{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#btn-left,#btn-right{
	position: absolute;
	top: 50%;
	margin-top: -28px;
	cursor: pointer;
}
#btn-left{
	left: 5px;
}
#btn-right{
	right: 5px;
}
/**********video结束**********/

/**********sever开始**********/
#sever{
	height: 120px;
	background: url(../img/download-bg.jpg);
}
#games{
	width: 255px;
	height: 99px;
	border: 1px solid #715d53;
	position: relative;
	float: left;
	margin-top: 4px;
}
#games div{
	width: 233px;
	height: 85px;
	margin: 7px auto;
	position: relative;
	overflow: hidden;
}
#games div ul{
	width: 932px;
	position: absolute;
	left: 0;
	top: 0;
}
#games li{
	float: left;
}
#games-btn{
	position: absolute;
	left: 20px;
	top: 75px;
}
#games-btn li{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #fff;
	margin-right: 10px;
	cursor: pointer;
}
#sever-mid{
	width: 266px;
	height: 99px;
	border: 1px solid #715d53;
	border-left: none;
	float: left;
	margin-top: 4px;
}
#sever-mid-top{
	height: 29px;
	background: #4e2409;
	text-align: center;
	color: #d9d9d9;
	font-size: 16px;
	line-height: 29px;
	font-weight: bold;
}
#sever-main div{
	height: 40px;
	width: 246px;
	margin: 15px auto;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
#sever-main div ul{
	position: absolute;
	left: 0;
	top: 0;
}
#sever-main div ul li{
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}
#sever-right{
	float: right;
}
/**********sever结束**********/

/**********footer开始**********/
#footer{
	height: 205px;
	background: url(../img/footer-img.jpg);
}
/**********footer结束**********/
#official{
	position: fixed;
	right: 20px;
	top: 50px;
}